<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quis minus sint cumque fugit hic doloremque at perferendis ducimus tempora, perspiciatis deserunt! Pariatur vitae est ullam eum delectus, voluptas esse!</p>
            </li>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quis minus sint cumque fugit hic doloremque at perferendis ducimus tempora, perspiciatis deserunt! Pariatur vitae est ullam eum delectus, voluptas esse!</p>
            </li>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quis minus sint cumque fugit hic doloremque at perferendis ducimus tempora, perspiciatis deserunt! Pariatur vitae est ullam eum delectus, voluptas esse!</p>
            </li>
        </ul>
    </div>
</div>
